@keyframes bell {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  25% {
    transform: translateY(-50%) rotate(25deg);
  }
  50% {
    transform: translateY(-50%) rotate(-25deg);
  }
  75% {
    transform: translateY(-50%) rotate(25deg);
  }
  100% {
    transform: translateY(-50%) rotate(0deg);
  }
}