
/*========== Font family ==========*/
$bitter-font: 'Bitter', serif;
$consolas-font: 'Consolas', monospace;
$segoeUI-font: 'SegoeUI', sans-serif;

/*========== Font weight ==========*/
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

/*========== Font size ==========*/
$fz-1: 60px;
$fz-2: 50px;
$fz-3: 30px;
$fz-4: 24px;
$fz-5: 18px;
$fz-6: 16px;
$fz-7: 14px;

/*========== Colors ==========*/
$black-color: #23262D;
$txt-color: #606268;
$gray1-color: #A7BBD1;
$gray2-color: #C4CACF;
$border-color: #E2E7EB;
$red-color: #E36F59;
$red-light-color: #FBA594;
$red-dark-color: #C7523C;
$powder-color: #FFD4BC;
$pink-color: #F3A9E7;
$purple-color: #BEC5FF;
$green-color: #75B687;
$green-light-color: #92E3A9;
$green-light2-color: #8AEFA7;
$cyan-color: #A3E8EC;
$blue-color: #70CAFC;
$blue-light-color: #A2D8FF;
$blue-sky-color: #DDF1FF;
$yellow-color: #FFDD95;
$white-color: #FFFFFF;

/*========== Z-index ==========*/
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

/*========== Other ==========*/
