@media screen and (max-width: 900px) {
  .benefits-list__item:nth-child(2) {
    margin-top: 0;
  }
  .benefits-list__item-descr {
    font-size: $fz-5;
    max-width: 240px;
  }
  .benefits-list__item {
    min-height: 305px;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .benefits__title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .benefits-list__item {
    min-height: 330px;
  }
  .benefits-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .benefits-list__item-img img {
    max-width: 300px;
  }
}

@media screen and (max-width: 660px) {
  .benefits {
    padding: 50px 0;
  }
  .benefits-list__item {
    justify-content: start;
    width: 100%;
    min-height: auto;
    gap: 15px;
  }
  .benefits-list {
    gap: 25px;
  }
}

@media screen and (max-width: 568px) {
  .benefits {
    padding: 30px 0;
  }
  .benefits__title {
    font-size: $fz-3;
  }
}

@media screen and (max-width: 480px) {
  .benefits__title {
    font-size: $fz-4;
  }
  .benefits-list__item {
    gap: 10px;
  }
  .benefits-list__item-descr {
    font-size: $fz-6;
  }
  .benefits-list__item-img img {
    max-width: 250px;
  }
}