@media screen and (max-width: 1140px) {
  .mailing-wrapper {
    padding: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .mailing-wrapper {
    padding: 60px 30px;
  }
  .mailing__btn {
    padding: 22px 60px 22px 30px;
  }
  .mailing__btn::after {
    right: 25px;
  }
}

@media screen and (max-width: 900px) {
  .mailing-wrapper {
    padding: 50px 30px;
  }
  .mailing__title {
    text-align: center;
    font-size: 40px;
  }
  .mailing .mailing__title::after {
    left: 50px;
    bottom: 30px;
    transform: translate(0);
  }
  .mailing__descr {
    text-align: center;
    margin-bottom: 40px;
  }
  .mailing__form {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mailing__btn {
    padding: 16px 60px 16px 30px;
  }
  .mailing__input-wrapper {
    width: 48%;
  }
}

@media screen and (max-width: 660px) {
  .mailing {
    padding: 50px 0 100px;
  }
  .mailing__input-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .mailing {
    padding: 30px 0 60px;
  }
  .mailing__title {
    font-size: $fz-3;
  }
  .mailing__title::before {
    width: 212px;
    height: 10px;
    right: 53px;
  }
  .mailing-wrapper {
    padding: 40px 30px;
  }
  .mailing::after {
    display: none;
  }
  .mailing::before {
    top: -200px;
    left: -230px;
  }
}

@media screen and (max-width: 480px) {
  .mailing__title {
    font-size: $fz-4;
  }
  .mailing__title::before {
    width: 130px;
    right: 75px;
  }
  .mailing .mailing__title::after {
    left: 20px;
    bottom: 24px;
  } 
  .mailing__descr {
    font-size: $fz-7;
    margin-bottom: 30px;
  }
  .mailing-wrapper {
    padding: 30px 20px;
  }
  .mailing__btn {
    padding: 13px 60px 13px 30px;
  }
}