.article {
  margin-bottom: 50px;
  &-content {
    max-width: 915px;
  }
  &-aside {
    max-width: 285px;
  }

  &__title {
    line-height: 120%;
    margin-bottom: 15px;
    &::after {
      display: none;
    }
  }
  &-info {
    margin-bottom: 40px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 30px;
    &__date,
    &__views {
      position: relative;
      padding-left: 25px;
      font-size: $fz-7;
      line-height: 143%;
      color: $black-color;
      &::before {
        position: absolute;
        top: 2px;
        left: 0;
      }
    }
    &__date {
      &::before {
        content: url("data:image/svg+xml;charset=UTF-8,<svg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23clip0_1713_1583)'><path d='M5.09973 7.72383C5.09973 7.54845 4.95748 7.40637 4.78196 7.40637H3.67307C3.49775 7.40637 3.35547 7.54845 3.35547 7.72383V8.83258C3.35547 9.00819 3.49775 9.15032 3.67307 9.15032H4.78196C4.95748 9.15032 5.09973 9.00819 5.09973 8.83258V7.72383Z' fill='%23E36F59'/><path d='M7.87302 7.72383C7.87302 7.54845 7.73074 7.40637 7.55557 7.40637H6.44651C6.27119 7.40637 6.12891 7.54845 6.12891 7.72383V8.83258C6.12891 9.00819 6.27119 9.15032 6.44651 9.15032H7.55557C7.73074 9.15032 7.87302 9.00819 7.87302 8.83258V7.72383Z' fill='%23E36F59'/><path d='M10.6466 7.72383C10.6466 7.54845 10.5043 7.40637 10.329 7.40637H9.22011C9.04459 7.40637 8.90234 7.54845 8.90234 7.72383V8.83258C8.90234 9.00819 9.04459 9.15032 9.22011 9.15032H10.329C10.5043 9.15032 10.6466 9.00819 10.6466 8.83258V7.72383Z' fill='%23E36F59'/><path d='M5.09973 10.4952C5.09973 10.3196 4.95748 10.1776 4.78196 10.1776H3.67307C3.49775 10.1776 3.35547 10.3196 3.35547 10.4952V11.6038C3.35547 11.7793 3.49775 11.9214 3.67307 11.9214H4.78196C4.95748 11.9214 5.09973 11.7793 5.09973 11.6038V10.4952Z' fill='%23E36F59'/><path d='M7.87302 10.4952C7.87302 10.3196 7.73074 10.1776 7.55557 10.1776H6.44651C6.27119 10.1776 6.12891 10.3196 6.12891 10.4952V11.6038C6.12891 11.7793 6.27119 11.9214 6.44651 11.9214H7.55557C7.73074 11.9214 7.87302 11.7793 7.87302 11.6038V10.4952Z' fill='%23E36F59'/><path d='M10.6466 10.4952C10.6466 10.3196 10.5043 10.1776 10.3292 10.1776H9.22011C9.04459 10.1776 8.90234 10.3196 8.90234 10.4952V11.6038C8.90234 11.7793 9.04459 11.9214 9.22011 11.9214H10.3292C10.5043 11.9214 10.6466 11.7793 10.6466 11.6038V10.4952Z' fill='%23E36F59'/><path d='M12.6274 1.55894V3.25247C12.6274 4.01793 12.0064 4.63477 11.2411 4.63477H10.3665C9.60113 4.63477 8.97193 4.01793 8.97193 3.25247V1.55286H5.0302V3.25247C5.0302 4.01793 4.40103 4.63477 3.63574 4.63477H2.76105C1.99573 4.63477 1.37479 4.01793 1.37479 3.25247V1.55894C0.705894 1.5791 0.15625 2.13259 0.15625 2.81289V12.7378C0.15625 13.4309 0.718026 14.0001 1.41113 14.0001H12.591C13.2831 14.0001 13.8459 13.4297 13.8459 12.7378V2.81289C13.8459 2.13259 13.2963 1.5791 12.6274 1.55894ZM12.2212 12.1197C12.2212 12.4193 11.9783 12.6623 11.6787 12.6623H2.29956C1.99992 12.6623 1.75706 12.4193 1.75706 12.1197V6.99318C1.75706 6.69353 1.99989 6.45053 2.29956 6.45053H11.6786C11.9783 6.45053 12.2212 6.69353 12.2212 6.99318L12.2212 12.1197Z' fill='%23E36F59'/><path d='M2.76061 3.72677H3.62564C3.8882 3.72677 4.10109 3.5142 4.10109 3.25163V0.475307C4.10109 0.212717 3.8882 0 3.62564 0H2.76061C2.49802 0 2.28516 0.212717 2.28516 0.475307V3.25163C2.28516 3.5142 2.49802 3.72677 2.76061 3.72677Z' fill='%23E36F59'/><path d='M10.3543 3.72677H11.2194C11.4818 3.72677 11.6946 3.5142 11.6946 3.25163V0.475307C11.6947 0.212717 11.4818 0 11.2194 0H10.3543C10.0918 0 9.87891 0.212717 9.87891 0.475307V3.25163C9.87891 3.5142 10.0918 3.72677 10.3543 3.72677Z' fill='%23E36F59'/></g><defs><clipPath id='clip0_1713_1583'><rect width='14' height='14' fill='%23FFFFFF'/></clipPath></defs></svg>");
      }
    }
    &__views {
      padding-left: 22px;
      &::before {
        content: url("data:image/svg+xml;charset=UTF-8,<svg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23clip0_1713_1577)'><path d='M7.00107 5.09094C8.05426 5.09094 8.91016 5.94684 8.91016 7.00003C8.91016 8.05322 8.05426 8.90912 7.00107 8.90912C5.94788 8.90912 5.09198 8.05322 5.09198 7.00003C5.09198 5.94684 5.94791 5.09094 7.00107 5.09094Z' fill='%23E36F59'/><path d='M6.99998 2.22729C10.1818 2.22729 12.8991 4.20637 14 7.00002C12.8991 9.79365 10.1818 11.7728 6.99998 11.7728C3.81499 11.7728 1.10089 9.79365 -3.06875e-05 7.00002C1.10089 4.20637 3.81499 2.22729 6.99998 2.22729ZM6.99998 10.1818C8.75635 10.1818 10.1818 8.75636 10.1818 6.99999C10.1818 5.24363 8.75635 3.81819 6.99998 3.81819C5.24362 3.81819 3.81815 5.24366 3.81815 7.00002C3.81815 8.75639 5.24362 10.1818 6.99998 10.1818Z' fill='%23E36F59'/></g><defs><clipPath id='clip0_1713_1577'><rect width='14' height='14' fill='%23FFFFFF' transform='matrix(-1 -3.55949e-08 -3.55949e-08 1 14 0)'/></clipPath></defs></svg>");
      }
    }
  }
  &-img {
    img {
      cursor: pointer;
      border-radius: 8px;
    }
    &--main {
      margin-bottom: 50px;
      img {
        cursor: initial;
        max-width: 915px;
        width: 100%;
        max-height: 300px;
        object-fit: cover;
      }
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 30px;
      margin-bottom: 40px;
      &--two {
        img {
          max-width: 440px;
          width: 100%;
          max-height: 295px;
          object-fit: cover;
        }
        .article-img__descr {
          max-width: 440px;
        }
      }
      &--three {
        img {
          max-width: 285px;
          width: 100%;
          max-height: 190px;
          object-fit: cover;
        }
        .article-img__descr {
          max-width: 285px;
        }
      }
    }
    &__descr {
      max-width: 285px;
      font-family: $segoeUI-font;
      font-style: italic;
      font-weight: $font-regular;
      font-size: $fz-7;
      line-height: 146%;
      color: $black-color;
    }
  }
  &-section {
    &__title {
      font-family: $bitter-font;
      font-weight: $font-bold;
      font-size: $fz-3;
      line-height: 120%;
      color: $black-color;
      margin-bottom: 10px;
    }
    &__list {
      padding-left: 20px;
      margin-bottom: 50px;
      li {
        font-size: $fz-5;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: $txt-color;
        margin: 12px 0;
        &::marker {
          color: $red-color;
          font-size: 16px;
          font-weight: $font-bold;
        }
      }
    }
    ol {
      li {
        padding-left: 6px;
      }
    }
    &__text {
      font-size: $fz-5;
        line-height: 156%;
        letter-spacing: -0.01em;
        color: $txt-color;
        margin-bottom: 50px;
    }
    &__quote {
      position: relative;
      margin: 100px 0 50px;
      padding: 35px 50px 45px 40px;
      border-radius: 10px;
      background: #EEF0F3;
      &::before {
        content: url("data:image/svg+xml;charset=UTF-8,<svg width='97' height='83' viewBox='0 0 97 83' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M31.0452 37.7078C28.6562 37.0199 26.2671 36.6709 23.9432 36.6709C20.3545 36.6709 17.3601 37.4911 15.0382 38.4953C17.2766 30.3004 22.654 16.1602 33.3661 14.5679C34.3582 14.4203 35.1712 13.703 35.4418 12.7374L37.783 4.36339C37.9804 3.65521 37.8634 2.89718 37.4595 2.28261C37.0555 1.66804 36.4064 1.25799 35.6789 1.15828C34.8883 1.05042 34.0824 0.995476 33.2837 0.995476C20.4257 0.995476 7.69191 14.4163 2.31856 33.6327C-0.835642 44.9066 -1.76054 61.856 6.00899 72.5245C10.3567 78.4941 16.6997 81.6819 24.862 82.0004C24.8956 82.0014 24.9281 82.0025 24.9617 82.0025C35.0328 82.0025 43.9632 75.2198 46.6799 65.5098C48.3028 59.705 47.5692 53.6174 44.6124 48.364C41.6871 43.1697 36.8693 39.3836 31.0452 37.7078Z' fill='%23E36F59'/><path d='M94.0881 48.365C91.1628 43.1697 86.345 39.3836 80.5209 37.7078C78.1318 37.02 75.7428 36.6709 73.4199 36.6709C69.8312 36.6709 66.8357 37.4911 64.5138 38.4953C66.7523 30.3004 72.1297 16.1602 82.8428 14.5679C83.8348 14.4203 84.6468 13.703 84.9185 12.7374L87.2597 4.36339C87.4571 3.65521 87.3401 2.89718 86.9361 2.28261C86.5332 1.66804 85.8841 1.25799 85.1555 1.15828C84.366 1.05042 83.5601 0.995476 82.7604 0.995476C69.9024 0.995476 57.1686 14.4163 51.7942 33.6327C48.641 44.9066 47.7161 61.856 55.4867 72.5265C59.8334 78.4951 66.1774 81.684 74.3386 82.0014C74.3722 82.0025 74.4048 82.0035 74.4394 82.0035C84.5094 82.0035 93.4409 75.2208 96.1576 65.5109C97.7785 59.7061 97.0439 53.6174 94.0881 48.365Z' fill='%23E36F59'/></svg>");
        position: absolute;
        top: -32px;
        left: 40px;
      }
      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 35px;
      }
      &-author {
        padding-left: 15px;
        max-width: 170px;
        font-weight: $font-bold;
        font-size: $fz-5;
        line-height: 144%;
        color: $black-color;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 3px;
          height: 40px;
          background-color: $red-color;
        }
      }
      &-text {
        font-style: italic;
        font-weight: $font-regular;
        font-size: $fz-5;
        line-height: 160%;
        color: $black-color;
      }
    }
  }



  &-aside__title {
    font-family: $bitter-font;
    font-weight: $font-bold;
    font-size: $fz-4;
    line-height: 1;
    color: $black-color;
    margin-bottom: 20px;
  }
  &-categories {
    margin-bottom: 60px;
    &__list {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
  &-courses {
    &__list {
      list-style-type: none;
      &-item {
        margin-bottom: 20px;
      }
    }
  }
}

