@media screen and (max-width: 900px) {
  .courses-item::after {
    font-size: $fz-1;
    top: 27px;
  }
}

@media screen and (max-width: 820px) {
  .courses-item__title {
    max-width: 235px;
  }
}

@media screen and (max-width: 660px) {
  .courses {
    padding: 50px 0 40px;
  }
  .courses-item::after {
    font-size: 40px;
    top: 35px;
  }
}

@media screen and (max-width: 568px) {
  .courses {
    padding: 30px 0 20px;
  }
  .courses-item__title {
    max-width: max-content;
  }
  .courses-item::after {
    font-size: $fz-1;
    top: 27px;
  }
}

@media screen and (max-width: 480px) {
  .courses-top {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 375px) {
  .courses-item {
    padding: 25px 15px;
  }
  .courses-item__logo {
    margin-bottom: 20px;
  }
  .courses-item__title {
    font-size: 20px;
    margin-bottom: 15px;
    max-width: 190px;
  }
  .courses-item::after {
    font-size: 40px;
    top: 35px;
  }
  .courses-item__more {
    font-size: $fz-7;
  }
  .courses-item.new .courses-item__descr {
    font-size: $fz-6;
  }
}