.blog-individual {
  padding: 10px 0 160px;
  position: relative;
  &::before {
    content: '';
    width: 857px;
    height: 695px;
    background: url('../img/background/img-1.svg');
    position: absolute;
    top: 0;
    left: -100px;
    z-index: -1;
  }
  &::after {
    content: '';
    width: 857px;
    height: 695px;
    background: url('../img/background/img-2.svg');
    position: absolute;
    top: 33%;
    right: -100px;
    z-index: -1;
  }
  &__wrapper {
    position: relative;
    &::before {
      content: 'BLOG';
      position: absolute;
      top: 120px;
      left: -265px;
      transform: rotate(-90deg);
      font-family: $source-serif-pro-font;
      font-weight: $font-black;
      font-size: 130px;
      line-height: 1;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      opacity: 0.06;
      color: transparent;
      -webkit-text-stroke: 2px $black-color;
    }
  }

  .content-inner {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
  }
}

@import 'article/article';