@media screen and (max-width: 1525px) {
  .blog-wrapper::before {
    display: none;
  }
}

@media screen and (max-width: 1240px) {
  .blog-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .blog {
    padding: 10px 0 100px;
  }
  .blog-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-category {
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .blog::before {
    top: -138px;
    left: -343px;
  }
  .blog::after {
    bottom: -40px;
    right: -415px;
  }
  .blog-category {
    position: relative;
    margin-bottom: 50px;
  }
  .blog-category__sort {
    max-width: 280px;
    position: absolute;
    right: 0;
    top: -64px;
  }
}

@media screen and (max-width: 568px) {
  .blog-category {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
  }
  .blog-category__sort {
    position: initial;
    max-width: 320px;
  }
  .category a {
    font-size: $fz-7;
    padding: 8px 10px;
  }
  .category-sm a {
    font-size: 12px;
    padding: 6px 10px;
  }
  .blog-content {
    grid-template-columns: repeat(1, 1fr);
  }
  
}

@media screen and (max-width: 480px) {
  .blog {
    padding: 10px 0 60px;
  }
}