.about {
  position: relative;
  padding: 10px 0 160px;
  &::before {
    content: '';
    width: 857px;
    height: 695px;
    background: url('../img/background/img-1.svg');
    position: absolute;
    top: 0;
    left: -100px;
    z-index: -1;
  }
  &::after {
    content: '';
    width: 857px;
    height: 695px;
    background: url('../img/background/img-2.svg');
    position: absolute;
    bottom: 30px;
    right: -152px;
    z-index: -1;
  }
  &-wrapper {
    position: relative;
    &::before {
      content: 'about';
      position: absolute;
      top: 170px;
      left: -318px;
      transform: rotate(-90deg);
      font-family: $source-serif-pro-font;
      font-weight: $font-black;
      font-size: 130px;
      line-height: 1;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      opacity: 0.06;
      color: transparent;
      -webkit-text-stroke: 2px $black-color;
    }
  }
  &__title {
    margin-bottom: 40px;
  }
  &-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 80px;
    &__descr {
      max-width: 500px;
      p {
        margin-bottom: 30px;
        font-size: $fz-5;
        line-height: 143%;
        letter-spacing: -0.01em;
        color: $txt-color;
        span {
          color: $red-color;
        }
      }
    }
    &__photo {
      img {
        border-radius: 8px;
        max-width: 600px;
        max-height: 415px;
        object-fit: cover;
      }
    }
  }
  &-contact {
    position: relative;
    background: $white-color;
    box-shadow: 0px 14px 34px rgba(21, 33, 56, 0.11);
    border-radius: 20px;
    padding: 60px 90px;
    &__title {
      margin-bottom: 40px;
      z-index: 10;
    }
    &__form {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 30px;
    }
    &__input {
      width: 100%;
      &-wrapper {
        width: 100%;
      }
    }
    &__btn {
      padding: 22px 65px;
    }
  }
}