.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0 8px;
  background-color: $white-color;
  z-index: $z-fixed;
  transition: transform .2s linear;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &.scroll {
    box-shadow: 12px 9px 50px 0 rgba(0, 0, 0, .05);
  }
  &.hide {
    transform: translateY(-90px);
  }
  .logo {
    img {
      max-width: 102px;
      object-fit: contain;
    }
  }
  &-inner {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .menu{
    &-list {
      display: flex;
      align-items: center;
      gap: 30px;
      &__link {
        font-family: $segoeUI-font;
        font-weight: $font-semibold;
        font-size: $fz-6;
        line-height: 131%;
        color: $black-color;
        text-decoration: none;
        padding: 10px;
        transition: .2s ease;
        &:hover {
          color: $red-color;
        }
      }
    }
  }
  .lang {
    padding: 5px 8px 6px;
    font-family: $segoeUI-font;
    font-weight: $font-semibold;
    font-size: $fz-7;
    line-height: 130%;
    color: $black-color;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid $border-color;
    &:nth-child(1) {
      border-right: none;
      border-radius: 6px 0px 0px 6px;
    }
    &:nth-child(2) {
      border-left: none;
      border-radius: 0px 6px 6px 0px;
    }
    &.active {
      background-color: $red-color;
      color: $white-color;
      border: 2px solid $red-color;
      pointer-events: none;
    }
    &-switch {
      display: flex;
      align-items:center;
    }
  }
  
}
