.article {
  &-arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
  }
  &-arrow {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    &__text {
      font-size: $fz-6;
      line-height: 1;
      color: $black-color;
      transition: color .2s;
    }
    &::before {
      content: '';
      border: 2px solid transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 55px;
      height: 55px;
      background: transparent;
      border-radius: 50%;
      transition: .2s linear;
    }
    &-prev, &-next {
      svg {
        position: relative;
        z-index: 100;
        width: 40px;
        height: 20px;
        transition: .2s linear;
        path, line {
          transition: .1s linear;
        }
      }
    }
    &-prev {
      padding-left: 25px;
      &::before {
        left: 0px;
      }
    }
    &-next {
      padding-right: 25px;
      &::before {
        right: 0px;
      }
    }

    &:hover {
      .article-arrow__text {
        color: $red-color;
      }
      &::before {
        border: 2px solid $red-color;
      }
      svg {
        path {
          fill: $red-color;
        }
        line {
          stroke: $red-color;
        }
      }
    }
  }
}
  