@media screen and (max-width: 900px) {
  .input {
    padding: 13px 77px 15px 20px;
  }
  .input-icon {
    width: 50px;
    height: 32px;
  }
  .breadcrumbs-list {
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  .breadcrumbs-list__link {
    white-space: nowrap;
  }
}

@media screen and (max-width: 568px) { 
  .pagination-list {
    gap: 6px;
  }
  .pagination-list__item.gap {
    width: 20px;
  }
}

@media screen and (max-width: 480px) { 
  .pagination-list__item {
    width: 30px;
    height: 30px;
  }
  .pagination-list__item a {
    font-size: $fz-7;
    padding: 7px 0;
  }
  .pagination-list {
    gap: 4px;
  }
  .pagination-arrow svg {
    width: 30px;
    path {
      fill: $red-color;
    }
    line {
      stroke: $red-color;
    }
  }
  .pagination-arrow::before {
    border-color: $red-color;
    width: 30px;
    height: 30px;
  }
  .pagination-arrow-next {
    right: 10px;
  }
  .pagination-arrow-prev {
    left: 10px;
  }
  .input {
    font-size: $fz-7;
  }
  .error-msg {
    bottom: -16px;
  }

  
  .btn-outline {
    background: transparent;
    padding: 0;
    border: none;
    text-decoration-line: underline;
    &:hover {
      background: transparent;
      padding: 0;
      border: none;
      text-decoration-line: underline;
      color: $red-color;
    }
  }

  pre code {
    font-size: 12px;
  }
  pre {
    padding: 2px 10px;
    line-height: 1;
  }
}

@media screen and (max-width: 440px) {
  .breadcrumbs-list__link {
    font-size: 12px;
  }
  .preview-box .details .title-gallery {
    font-size: $fz-6;
  }
  .preview-box .details {
    padding: 5px;
  }
  .preview-box .description {
    padding: 5px;
    font-size: $fz-7;
  }
  .preview-box .img-box .slide {
    font-size: 30px;
    width: 45px;
    height: 40px;
  }
}

