.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  color: $red-color;
  margin: 5px;
  width: 8px;
  height: 8px;
  background: $red-color;
  opacity: 0;
  display: inline-block;
  z-index: 1;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  position: relative;
  opacity: 1;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid $red-color;
    z-index: -1;
    transform: translate(-50%, -50%);
  }
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-prev, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-prev, .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev, .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-next, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-next, .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-next-next, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-next-next{
  transform: scale(1);
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-prev, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-prev, .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-next, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-next {
  opacity: 0.6;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev, .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-next-next, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-next-next {
  opacity: 0.2;
}

.swiper-button-next, .swiper-button-prev {
  top: auto;
  bottom: 20px;
  z-index: 100;
  width: 40px;
  height: 20px;
  transition: .2s linear;
  path, line {
    transition: .1s linear;
  }
  &::before {
    content: '';
    border: 2px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    background: transparent;
    border-radius: 50%;
    transition: .2s linear;
  }
  &::after {
    content: '';
  }
  &:hover {
    path {
      fill: $red-color;
    }
    line {
      stroke: $red-color;
    }
    &::before {
      border: 2px solid $red-color;
    }
  }
}
.swiper-button-prev {
  left: 40px;
  &:before {
    right: 10px;
  }
}
.swiper-button-next {
  right: 40px;
  &:before {
    left: 10px;
  }
}


@media screen and (max-width: 480px) {
  .swiper-button-next svg,
  .swiper-button-prev svg {
    width: 30px;
    path {
      fill: $red-color;
    }
    line {
      stroke: $red-color;
    }
  }
  .swiper-button-next::before,
  .swiper-button-prev::before {
    border-color: $red-color;
    width: 30px;
    height: 30px;
  }
  .swiper-button-next {
    right: 20px;
  }
  .swiper-button-next:before {
    left: 15px;
  }
  .swiper-button-prev {
    left: 20px;
  }
  .swiper-button-prev:before {
    right: 15px;
  }
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 22px;
  }
  .swiper-button-next, .swiper-button-prev {
    bottom: 35px;
  }
}